{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Monitoring System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/logs/styles.css">
</head>
<body>
    <header>
        <b>Remote Monitoring System</b>
    </header>
    <main>
<div class="table-responsive">
    <table class="table">
        <caption class="cap"><b>Системные логи - Последние 3 записи</b></caption>
<thead>
    <tr>
        <th>IP адрес ПК</th>
        <th>Нагрузка ОЗУ (%)</th>
        <th>Время лога</th>
        <th>Нагрузка CPU (%)</th>
        <th>Сообщение</th>
        <th>Температура (°C)</th>
    </tr>
</thead>
<tbody>
    {% for log in logs %}
    <tr>
        <td>{{ log.ip_address }}</td>
        <td>{{ log.ram_usage }}</td>
        <td>{{ log.timestamp }}</td>
        <td>{{ log.cpu_load }}</td>
        <td>{{ log.log_message }}</td>
        <td>{{ log.temperature }}</td>
    </tr>
    {% endfor %}
</tbody>
            </table>
        </div>

<!-- Устройства и метрики -->
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-lg-6">
            <table class="table">
                <caption class="cap"><b>Список устройств</b></caption>
                    <!-- Список IP-адресов -->
                    <div class="col-md">
                        <tr class="list-group">
                            {% for device in devices %}
                            <th>
                                <button class="btn btn-success ip-button" data-device-id="{{ device.ip_address }}">
                                    <b>{{ device.ip_address }}</b>
                                </button>
                            </th>
                            {% endfor %}
                        </tr>
                    </div>
            </table>
            </div>
                <!-- Блок характеристик и метрик -->
                <div class="col-md">
                    <div class="table-responsive mt-4">
                    <div id="device-details">
                        <table class="table">
                            <caption class="cap"><b>Характеристики устройства</b></caption>
                        </table>
                            <p>Подождите, данные загружаются</p>

            </div>
        </div>
        </div>
                <div class="table-responsive mt-4">
                    <div id="metrics-table">
                        <table class="table">
                            <caption class="cap"><b>Метрики устройства</b></caption>
                        </table>
                            <p>Подождите, данные загружаются</p>

            </div>
        </div>
    <footer>
        <p><b>ХГУ ИТИ, 2024 год</b></p>
    </footer>
        </main>
</body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/logs/scripts.js"></script>
</html>
